## list comprehesion

- list comprehesion a way to writh list operations in a single line

- when we apple for loop and if-else conditional statements then the code comprehesion becomes slow

- which means it takes much time

- in order to avoid the time complexit we will use list comprehesion

- list comprehesion is a single line code

**case-1: only for loop**

In [3]:
                                        list1=[]
for i in range(10):
    list1.append(i)

list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list1=[i for i in range(10)]
list1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

**dont give : after for loop**

In [20]:
list1=['hyd','bengluru','pune','munbai']
list2=[i.capitalize() for i in list1]
list2

['Hyd', 'Bengluru', 'Pune', 'Munbai']

In [18]:
list1=['hyd','bengluru','pune','munbai']
list2=[i.upper() for i in list1]
list2

['HYD', 'BENGLURU', 'PUNE', 'MUNBAI']

In [22]:
list1=['hyd','bengluru','pune','munbai']
for i in list1:
    print(list1.index(i)*10)

0
10
20
30

In [24]:
[list1.index(i)*10 for i in list1]

[0, 10, 20, 30]

In [34]:
list1=['hyd','bengluru','pune','munbai']
list2=[list1.index(i)*10 for i in list1]
sum(list2)

60

**walru operetor**

In [49]:
[summ=summ+i for i in range(1,11)]

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2663275567.py, line 1)

In [43]:
summ=0
for i in range(1,11):
    summ=summ+i

summ

55

In [45]:
[summ:=summ+i for i in range(1,11)]

[56, 58, 61, 65, 70, 76, 83, 91, 100, 110]

In [47]:
summ=0
[summ:=summ+i for i in range(1,11)]
summ

55

**case-2: for loop if condition**

In [52]:
for i in range(1,10):
    if i%2==0:
        print(f"evan:{i}")

evan:2
evan:4
evan:6
evan:8

In [54]:
for i in range(1,10):
    if i%2==0:
        print(f"evan:{i}")
    else:
        print(f"odd:{i}")

odd:1
evan:2
odd:3
evan:4
odd:5
evan:6
odd:7
evan:8
odd:9

In [60]:
[(f'evan:{i}') if i%2==0 for i in range(1,10)]

SyntaxError: expected 'else' after 'if' expression (397782747.py, line 1)

In [58]:
[(f'evan:{i}') for i in range(1,10) if i%2==0]

['evan:2', 'evan:4', 'evan:6', 'evan:8']

In [83]:
# Q5) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[ben#galuru',mu#mbai']
input = ['hyd', 'ben#galuru', 'pune', 'mu#mbai']
ans = [i for i in input if '#' in i]
print(ans)

['ben#galuru', 'mu#mbai']

In [77]:
# Q6) input=['hyd','ben#galuru','pune','mu#mbai']
#     output=[hyd,pune]
input= ['hyd', 'ben#galuru', 'pune', 'mu#bai']

ans = [i for i in input if '#' not in i]
print(ans)

['hyd', 'pune']

In [85]:
input = [i for i in input if '#' in i]
ans

['ben#galuru', 'mu#mbai']

In [81]:
input = [i for i in input if '#' not in i]
ans

['hyd', 'pune']

In [87]:
for i in range(1,10):
    if i%2==0:
        print(f"evan:{i}")
    else:
        print(f"odd:{i}")

odd:1
evan:2
odd:3
evan:4
odd:5
evan:6
odd:7
evan:8
odd:9

In [93]:
[f"evan:{i}" if i%2==0 else f"odd:{i}" for i in range(1,10)]

['odd:1',
 'evan:2',
 'odd:3',
 'evan:4',
 'odd:5',
 'evan:6',
 'odd:7',
 'evan:8',
 'odd:9']

**case-4: for-if-elif-else**

- in list comprehension we dont have **elif** representations

- if also represent as **else+if**

- in elif we have elif **condition** and **elif output**

- else elif_output elif_condition

In [99]:
l=[45,55,65,75,85,95]
for i in l:
    if i>85:
        print(f"{i}: A gread")
    elif i>60:
        print(f"{i}: B gread")
    else:
        print(f"{i}: c gread")

45: c gread
55: c gread
65: B gread
75: B gread
85: B gread
95: A gread

In [ ]:
[f"evan:{i}" if i%2==0 else f"odd:{i}" for i in range(1,10)]

In [107]:
l=[45,55,65,75,85,95]
[f"{i}: A gread" if i>85 else f"{i} B gread" if i>60 else f"{i}: c gread" for i in l]

['45: c gread',
 '55: c gread',
 '65 B gread',
 '75 B gread',
 '85 B gread',
 '95: A gread']

In [17]:
list1=[45,76,89,53,67,90,82,49,33,99]
count=0
for i in list1:
    if i<100:
        print(f'{list1} {i}')
        count=count+1
    elif 

print(count)

per=eval(input(' Enter a persentage:'))
if  per>=90:
    print('grade A')
elif  per>=90:
     print('grade B')
elif per>=70:
    print('grade C')
elif per>=50:
    print('grade D')
else:
    print('fail')

SyntaxError: invalid syntax (1984603624.py, line 7)

In [21]:
list1=[45,76,89,53,67,90,82,49,33,99]

[for i in marks if i>=50]

SyntaxError: invalid syntax (784115099.py, line 3)

In [31]:
marks=[45,76,89,53,67,90,82,49,33,99]
for i in marks:
    if  i>=85:
        print('grade A')
    elif  i>=70:
         print('grade B')
    elif i>=50:
        print('grade C')
    elif per>=35:
        print('grade D')
    else:
        print('fail')

TypeError: 'int' object is not iterable

In [37]:
marks=[45,76,89,53,67,90,82,49,33,99]
[f"marks ={i} : A gread." if i>=84
else f"marks ={i}: B gread."if i>=70
else f"marks ={i}: C gread." if i>50
else f"marks ={i}: F gread." 
for i in marks]

['marks =45: F gread.',
 'marks =76: B gread.',
 'marks =89 : A gread.',
 'marks =53: C gread.',
 'marks =67: C gread.',
 'marks =90 : A gread.',
 'marks =82: B gread.',
 'marks =49: F gread.',
 'marks =33: F gread.',
 'marks =99 : A gread.']

In [39]:
[i+5 for i in marks if i<50]

[50, 54, 38]

In [41]:
max_val=max(marks)
for i in range(3):
    max_val=max(marks)
    print(max_val)
    marks.remove(max_val)

99
90
89

In [47]:
summ=0
marks=[45,76,89,53,67,90,82,49,33,99]
[summ:=summ+i for i in marks]
summ/len(marks)

68.3

**distance between two points**

In [52]:
l1=[[]1,2],[4,5],[7,9]
l1=[10,20]
# find the distance between l1 with all other points from l1
# which is the maximum distance give me that
math.sqrt(math.pow(l2[0]-l1[]0,2)+math.pow(l2[1]-l1[1],2))

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1575083799.py, line 1)

<img id="dimg_nnypZ5KLBY2fnesPqeaV2Aw_229" src="" class="YQ4gaf" height="173" style="object-position:0% 50%" width="291" alt="Euclidean Distance | Calculation ..." data-csiid="nnypZ5KLBY2fnesPqeaV2Aw_20" data-atf="1">

<img id="dimg_nnypZ5KLBY2fnesPqeaV2Aw_421" src="" class="YQ4gaf" height="162" style="object-position:71% 75%" width="311" alt="Calculate Euclidean distance in Python ..." data-csiid="nnypZ5KLBY2fnesPqeaV2Aw_35" data-atf="5">

In [56]:
import math
l1=[10,20]
l2=[30,40]
d2=l2[1]-l1[1]
d2_square=math.pow(d2,2)
d2_square

d1=l2[0]-l1[0]
d1_square=math.pow(d1,2)
d1_square

summ=d1_square+d2_square
math.sqrt(summ)

28.284271247461902

In [ ]:
# how to sort the list
# how to find the maximum value of the list
# how to find the minimum value of the list
# how to find the second maximum value of the list
# how to find the second minimum value of the list
# how to find the longest word of a string
# how to find the most repeated word of a string