In [2]:
names=['ajay','shiddu','laxaman','jagdish']
age=[20,25,30,35]
l1=[]
for i in range(len(name)): 
    if i not in l1:
    l1.append(i)

l1

IndentationError: expected an indented block after 'if' statement on line 5 (618807548.py, line 6)

## zip

In [6]:
names=['ajay','shiddu','laxaman','jagdish']
age=[20,25,30,35]
for i,j in zip(names,age):
    print(i,j)
    print(f'{i} : age is {i}')

ajay 20
ajay : age is ajay
shiddu 25
shiddu : age is shiddu
laxaman 30
laxaman : age is laxaman
jagdish 35
jagdish : age is jagdish

In [9]:
for i,j in zip(names,age):
    print(j)

20
25
30
35

In [11]:
for i,j in zip(names,age):
    print(i)

ajay
shiddu
laxaman
jagdish

**Dictionary**

- in above example names and age both are togethor

- wthen both are together we can pair then 

- this can happen using dictionary

- dictionary is called as **key-value** pair

- it reperesents with curly braces :**{key-value}**

- ajay and 20 years both are pair: {'ajay',20}

In [14]:
d1={"ajay":20,"shiddu":25,"laximan":30}
d1

{'ajay': 20, 'shiddu': 25, 'laximan': 30}

In [18]:
d2={"ajay":20,"shiddu":25,"laximan"}
d2

SyntaxError: ':' expected after dictionary key (2703393901.py, line 1)

In [35]:
d1={20:"ajay",25:"shiddu",30:"laximan"}
d1

{20: 'ajay', 25: 'shiddu', 30: 'laximan'}

In [37]:
d1={20:"ajay",25:"shiddu",30:"laximan"}
d1

{20: 'ajay', 25: 'shiddu', 30: 'laximan'}

In [39]:
d5{True:"true"}
d5

SyntaxError: invalid syntax (2822099018.py, line 1)

In [ ]:
**list as key faile becuase list has a mutable mutable beahavivour**

In [5]:
d14={"fruites":{"apple":20}}
d14

{'fruites': {'apple': 20}}

In [7]:
d15={{"apple":20}:"fruites"}
d15

TypeError: unhashable type: 'dict'

In [9]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'Apple':30,'apple':}
dict3={20:'apple',30:'banana',50:'cherry'}

SyntaxError: expression expected after dictionary key and ':' (3923090552.py, line 2)

In [13]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1.min()

AttributeError: 'dict' object has no attribute 'min'

In [15]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1.max()

AttributeError: 'dict' object has no attribute 'max'

In [17]:
dir(dict)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [21]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1.sum()

AttributeError: 'dict' object has no attribute 'sum'

In [23]:
dict1.sorted()

AttributeError: 'dict' object has no attribute 'sorted'

In [27]:
dict1={'apple':20,'banana':30,'cherry':50}
dict1.reversed()

AttributeError: 'dict' object has no attribute 'reversed'

In [36]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}
print(max(dict1))
print(max(dict2))
print(max(dict3))

cherry
apple
50

In [38]:
dict1={'apple':20,'banana':30,'cherry':50}
dict2={'Apple':20,'apple':30}
dict3={20:'apple',30:'banana',50:'cherry'}
(min(dict1)),(min(dict2)),(min(dict3))

('apple', 'Apple', 20)

In [48]:
list(reversed(dict1))

['cherry', 'banana', 'apple']

In [40]:
sorted(dict1)

['apple', 'banana', 'cherry']

In [42]:
len(dict1)

3

In [54]:
dict1={'Apple':20,'banana':30,'cherry':10}
'Apple' in dict1

True

In [56]:
20 in dict1

False

In [58]:
'Apple':20 in dict1

SyntaxError: illegal target for annotation (1635405859.py, line 1)

In [62]:
dict1={'Apple':20,'banana':30,'cherry':10}
for i in range(len(dict1)):
    print(i)

0
1
2

**index**

In [65]:
l1=[10,20,30]
l1[0]

10

**key error**

In [67]:
dict1={'Apple':20,'banana':30,'cherry':10}
dict1[0]

KeyError: 0

**how to extract the values**

- in dictionary we have a comcept key:value pair

- keys are very important

- in order to get the values we need to take keys help

In [71]:
dict1={'Apple':20,'banana':30,'cherry':10}
dict1['Apple']

20

In [73]:
dict1['banana']

30

In [75]:
dict1['cherry']

10

In [77]:
for i in dict1:
    print(i,dict1[i])

Apple 20
banana 30
cherry 10

In [81]:
names={'ramesh':20,'suresh':25,'sathish':30}
for i in names:
    print(f"{i}, age is {names[i]}")

ramesh, age is 20
suresh, age is 25
sathish, age is 30

In [83]:
for i in range(len(names)):
    print(i,)

0
1
2

In [87]:
d={'Fruites':['Apple','Banana','Cherry']}
d['Fruites'][2]

'Cherry'

In [93]:
d={'Fruites':{'Apple':['sweet','sour','green']}}

d['Fruites']['Apple'][2]

'green'

In [105]:
d={'fruites':[{'cost':[50]}]}
d['fruites'][0]['cost'][0]

50

In [ ]:
d={'fruites':['Apple'],'cost'}

In [129]:
d={'Fruites':['Apple'],'Cost':[{'1kg':[20,30,40],'2kg':None}]}
d['Cost'][0]['2kg']

In [162]:
d={'Fruites':{'Orange':{'Nagpur':{'MH':{'King':{'Shivaji maharaj':{'Shambaji'}}}}}}}
d['Fruites']['Orange']['Nagpur']['MH']['King']['Shivaji maharaj']

{'Shambaji'}

In [ ]:
**how to create empty dictionary**

- how onwards focus on creationg of empty list , string as dictionry

- we will take empty list will use append opretions

- we will take empty string will use concatenation

- we will take empty dictionary will use key:value pair concept

In [164]:
# list
l=[]
l.append(10)
l.append(20)
l

[10, 20]

In [170]:
# string
s=''
s=s+'p'
s=s+'y'
s

'py'

In [174]:
# dictionary
d={}
d['ramesh']=20
d['suresh']=25
d['sathish']=30
d

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**how to convert list to dictionaty**

In [194]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
dict1={}
for i,j in zip(names,age):
    dict1[i]=j

dict1

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**dictionary comprehension**

- for list comprehension we written everything inside list

- for dict comprehension we should write everyting inside the dict

In [203]:
dict1{for i,j in zip(names,age): dict1[i]=j dict1}

SyntaxError: invalid syntax (3230221322.py, line 1)

In [209]:
names=['ramesh','suresh','sathish']
age=[20,25,30]
{i:j for i,j in zip(names,age)}

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

**mutable-immutable**

- list are mutable

- dictionary are also mutable

- string immutable

- tuple immutable

- in dictionary we can change the value using keys

In [214]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d['ramesh']=30
d

{'ramesh': 30, 'suresh': 25, 'sathish': 30}

In [218]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

In [ ]:
- clear

- copy

- keys

- items

In [10]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.clear()
d

{}

In [6]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.copy()

{'ramesh': 20, 'suresh': 25, 'sathish': 30}

In [2]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.keys()

dict_keys(['ramesh', 'suresh', 'sathish'])

In [4]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.items()

dict_items([('ramesh', 20), ('suresh', 25), ('sathish', 30)])

**keys**

In [12]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
keys=d.keys()
keys

dict_keys(['ramesh', 'suresh', 'sathish'])

In [14]:
# i got misteken am assuming this is list type
keys.count('ramesh')

AttributeError: 'dict_keys' object has no attribute 'count'

**convert dictionary to list**

- in other to cinvert dictionary ti list

- first we need to seperate keys ans value

- then apply the list type casting

In [28]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
keys=d.keys()
keys_list=list(keys)
keys_list

['ramesh', 'suresh', 'sathish']

In [ ]:
# list == string   using join
# string == list   using split
# list == dict     using zip
# dict == list     typecasting

In [36]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
items=d.items()
items_list=list(items)
items_list

[('ramesh', 20), ('suresh', 25), ('sathish', 30)]

In [38]:
type(keys_list),type(keys)

(list, dict_keys)

In [40]:
keys_list.count('ramesh')

1

In [84]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
d1=input.split(';')
fname=[]
sname=[]
cname=[]
d={}
for i in d1:
    first_dos=i.index('.')
    second_dot=i.index('.',first_dos+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dos])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])

d['fname']=fname
d['sname']=sname
d['cname']=cname
d

NameError: name 'first_dot' is not defined

In [88]:
input='virat.kohli@rcb.com;rohit.sharma@mi.com;ms.dhoni@csk.com'
d1=input.split(';')
fname,sname,cname,[],[],[]
d={}
for i in d1:
    first_dot=i.index('.')
    second_dot=i.index('.',first_dos+1)
    at_the_rate=i.index('@')
    fname.append(i[:first_dos])
    sname.append(i[first_dot+1:at_the_rate])
    cname.append(i[at_the_rate+1:second_dot])

d['fname']=fname
d['sname']=sname
d['cname']=cname
d

{'fname': ['virat', 'virat', 'virat', 'rohit', 'ms.dh'],
 'sname': ['kohli', 'sharma', 'dhoni'],
 'cname': ['rcb', 'mi', 'csk']}

In [ ]:
dir

In [ ]:
pop
popitems

In [ ]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
items=d.items()
items_list=list(items)
items_list

In [107]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.pop('ramesh')

20

In [120]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.popitem()

('sathish', 30)

**pop-popitem**

In [115]:
l1=['ramesh','suresh','sathish']
l1.remove('ramesh')
l1

['suresh', 'sathish']

- **pop** in dictionary, similar analogy **remove** in list

- **pop item** id dictionary, similar analogy **pop** in list


**get**

In [122]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d.get('ramesh')

20

In [124]:
d['ramesh'] # key as an index

20

**update**

- update is similar analogy **list extend**

- take two dictionary and apply update method

In [129]:
d={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d={'manish': 20, 'mahesh': 25, 'saresh': 30}
d.update(d)
d

{'manish': 20, 'mahesh': 25, 'saresh': 30}

In [145]:
l1={'ramesh','suresh','sathish'}
l2={ 20,25,30}
l1.extend(l2)
l1

AttributeError: 'set' object has no attribute 'extend'

- **uptate in dictionary** similar analogy **list entend**

**setdefault**

- suppose an alredy existed dictionary available

- we can update the dictionary with new key:value pair

In [149]:
d1={'ramesh': 20, 'suresh': 25, 'sathish': 30}
d1.setdefault('manish')
d1.setdefault('manish',35)
d1

{'ramesh': 20, 'suresh': 25, 'sathish': 30, 'manish': None}

- **setdefault** in dictionary, similar analogy **list append**

- always rembar dictionary is a key:value pair concept

- it never ivlove index opertaions

- thats why we dont have any index or find metheod

- we have get method to extract value using key

**fromkeys**

- create a dictionary with diffent keys but same value

- fromkeys will take an argument **iterable**

- try to provaide an iterator i.e string,list,tuple

In [156]:
d={}
names=['ramesh','suresh','sathish']
d.fromkeys(names,'narehsIT')

{'ramesh': 'narehsIT', 'suresh': 'narehsIT', 'sathish': 'narehsIT'}

In [160]:
d={}
d.fromkeys('python')

{'p': None, 'y': None, 't': None, 'h': None, 'o': None, 'n': None}

In [162]:
d={}
names=['ramesh','suresh','sathish']
d.iterable(names,'narehsIT')

AttributeError: 'dict' object has no attribute 'iterable'

In [ ]:
- list have count, string has count, and tuple also has count
   
    - but dictionary dose not have **count**

    - brcuase dictionary dose not allow **duplicates**

- string has find but list does not have